<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-md-3 offset-1">
            <div class="card mb-3">
                <img class="img-fluid w-100 mt-1"
                    src="https://res.cloudinary.com/ntv2806/image/upload/v1663542432/YelpCamp/qkatbwkoy6f7cdpc5bht.jpg"
                    alt="">

                <div class="card-body bg-dark text-white border-light">
                    <h5 class="card-title text-center">
                        Vinh Thanh Nguyen
                    </h5>
                    <p class="card-text">
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Email: vinh28062002@gmail.com
                    </li>
                    <li class="list-group-item">
                        Phone: +1 (585)-455-2641
                    </li>
                    <li class="list-group-item">
                        Location: Rochester, New York
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-6 offset-1">

            <div class="row-md-1">
                <div class="card mb-3 bg-dark text-white border-light">
                    <div class="card-body">
                        <h5 class="card-title">
                            About me
                        </h5>
                        <p class="card-text">
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/author/about/info">Personal Information</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/author/about/interest">Interest</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row-md-1">
                <div class="card mb-3">
                    <div class="card-body bg-dark text-white border-light">
                        <h5 class="card-title">
                            Education
                        </h5>
                        <p class="card-text">
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/author/education/college">University of Rochester</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/author/education/highschool">Hanoi-Amsterdam High School</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row-md-1">
                <div class="card mb-3 bg-dark text-white border-light">
                    <div class="card-body">
                        <h5 class="card-title">
                            Experience
                        </h5>
                        <p class="card-text">
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/author/experience/viettel">Viettel Business Solution Corporation</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/author/experience/university">University of Rochester</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/author/experience/eup">European Plastic Company</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row-md-1">
                <div class="card mb-3">
                    <div class="card-body bg-dark text-white border-light">
                        <h5 class="card-title">
                            Projects
                        </h5>
                        <p class="card-text">
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/">YelpCamp</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/author/projects/numberpuzzle">NumberPuzzle</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/author/projects/stocktracker">StockTracker</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>