<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/image-general.css">
    <div class="row">
        <div class="col-lg-3 offset-md-0 offset-xs-0 offset-sm-0 offset-lg-1">
            <div class="card mb-3 box-shadow">
                <img class="img-fluid w-100 img-box"
                    src="https://res.cloudinary.com/ntv2806/image/upload/v1663542432/YelpCamp/qkatbwkoy6f7cdpc5bht.jpg"
                    alt="">

                <div class="card-body bg-dark text-white border-light">
                    <h5 class="card-title text-center">
                        Vinh Thanh Nguyen
                    </h5>
                    <p class="card-text">
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Email: vinh28062002@gmail.com
                    </li>
                    <li class="list-group-item">
                        Phone: +1 (585)-455-2641
                    </li>
                    <li class="list-group-item">
                        Location: Rochester, New York
                    </li>
                    <li class="list-group-item">
                        <a class="link" href="https://www.linkedin.com/in/vinh-nguyen-585474224/">LinkedIn</a>
                        ,
                        <a class="link" href="https://github.com/vinhngthanh">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-6 offset-md-3 offset-sm-0 offset-lg-1 offset-xs-0">

            <div class="row-md-1">
                <div class="card mb-3 text-white box-shadow">
                    <div class="card-body bg-dark tl-radius-4 tr-radius-4">
                        <h5 class="card-title">
                            About me
                        </h5>
                        <p class="card-text">
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="link" href="/author/about/info">Personal Information</a>
                        </li>
                        <li class="list-group-item">
                            <a class="link" href="/author/about/interest">Interest</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row-md-1">
                <div class="card mb-3 text-white box-shadow">
                    <div class="card-body bg-dark tl-radius-4 tr-radius-4">
                        <h5 class="card-title">
                            Education
                        </h5>
                        <p class="card-text">
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="link" href="/author/education/college">University of Rochester</a>
                        </li>
                        <li class="list-group-item">
                            <a class="link" href="/author/education/highschool">Hanoi-Amsterdam High School</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row-md-1">
                <div class="card mb-3 text-white box-shadow">
                    <div class="card-body bg-dark tl-radius-4 tr-radius-4">
                        <h5 class="card-title">
                            Experience
                        </h5>
                        <p class="card-text">
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="link" href="/author/experience/eup">European Plastic Company</a>
                        </li>
                        <li class="list-group-item">
                            <a class="link" href="/author/experience/university">University of Rochester</a>
                        </li>
                        <li class="list-group-item">
                            <a class="link" href="/author/experience/viettel">Viettel Business Solution Corporation</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row-md-1">
                <div class="card mb-3 text-white box-shadow">
                    <div class="card-body bg-dark tl-radius-4 tr-radius-4">
                        <h5 class="card-title">
                            Projects
                        </h5>
                        <p class="card-text">
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="link" href="/">YelpCamp</a>
                        </li>
                        <li class="list-group-item">
                            <a class="link" href="/author/projects/numberpuzzle">NumberPuzzle</a>
                        </li>
                        <li class="list-group-item">
                            <a class="link" href="/author/projects/stocktracker">StockTracker</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>