<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/interest.css">
    <div class="row">
        <div class="col-md-6">
            <div class="box-shadow card mb-3">
                <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="img-holder carousel-item active">
                            <img src="https://res.cloudinary.com/ntv2806/image/upload/v1663627048/YelpCamp/rhfvyv1k2lktix7jsgky.jpg"
                                class="img-box d-block w-100" alt="">
                        </div>
                        <div class="img-holder carousel-item">
                            <img src="https://res.cloudinary.com/ntv2806/image/upload/v1663627049/YelpCamp/jqlbgkdph12qxrjp7udt.jpg"
                                class="img-box d-block w-100" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body bg-dark text-white border-light">
                    <h5 class="card-title">
                        Employer: ITD Group
                    </h5>
                    <h6>Job title: Software Engineer Intern</h6>

                    <p class="card-text">
                        Description:
                        <li>Developed a well-optimized Golang API for users to programmatically manage Google Sheets
                            data.</li>
                        <li>Achieved 100% code coverage with rigorous unit testing to ensure reliable functionality and
                            performance in all scenarios.</li>
                        <li>Reduced API response times by 30% through code optimization and algorithmic improvements.
                        </li>
                        <li>Resolved 10 bug tickets from customers and performed code refactoring which reduced codebase
                            by ∼5%.</li>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark text-white border-light">
                        Location: Ho Chi Minh city, Vietnam
                    </li>
                    <li class="list-group-item bg-dark text-white border-light">
                        Start date: 05/17/2023
                    </li>
                    <li class="list-group-item bg-dark text-white border-light">
                        End date: 08/17/2022
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <h1>ITD Group</h1>
            <h3>Ho Chi Minh city, Vietnam</h3>
            <div id='map'></div>
        </div>
    </div>

    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    </script>

    <script src="/javascripts/hanoiPageMap.js"></script>