<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/interest.css">
    <div class="row">
        <div class="col-md-6">
            <div class="box-shadow card mb-3">
                <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="img-holder carousel-item active">
                            <img src="https://res.cloudinary.com/ntv2806/image/upload/v1663560798/YelpCamp/kzytdupldcuqzb0kcstu.jpg"
                                class="img-box d-block w-100" alt="">
                        </div>
                        <div class="img-holder carousel-item">
                            <img src="https://res.cloudinary.com/ntv2806/image/upload/v1663560798/YelpCamp/w7gncbzq6tijmojqemgd.jpg"
                                class="img-box d-block w-100" alt="">
                        </div>
                        <div class="img-holder carousel-item">
                            <img src="https://res.cloudinary.com/ntv2806/image/upload/v1663560798/YelpCamp/wcriva6kgknjtuktyalo.png"
                                class="img-box d-block w-100" alt="">
                        </div>
                        <div class="img-holder carousel-item">
                            <img src="https://res.cloudinary.com/ntv2806/image/upload/v1663560798/YelpCamp/zhipxtz2hu7c5laxmagk.jpg"
                                class="img-box d-block w-100" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body bg-dark text-white border-light">
                    <h5 class="card-title">
                        Employer: University of Rochester
                    </h5>
                    <h6>Job title: Teaching Assistant</h6>
                    <p class="card-text">
                        Description:
                        <li>Courses: Mobile App Development (Spring 2023), Intermediate Microeconomics (Fall 2022).</li>
                        <li>Led weekly study sessions/office hours of 30 students to cover learning materials in course
                            lectures and assignments.</li>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark text-white border-light">
                        Location: Rochester, New York
                    </li>
                    <li class="list-group-item bg-dark text-white border-light">
                        Start date: 09/01/2022
                    </li>
                    <li class="list-group-item bg-dark text-white border-light">
                        End date: 05/01/2023
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <h1>University of Rochester</h1>
            <h3>Rochester, New York</h3>
            <div id='map'></div>
        </div>
    </div>

    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    </script>

    <script src="/javascripts/rochesterMap.js"></script>