.img-box {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.img-holder {
    height: 400px;
}

.box-shadow {
    padding: 0.1rem;
    box-shadow: 1px 1px 5px 5px #cdcccc;
}

.des-box {
    height: 100%;
}