.img-box {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.img-holder {
    height: 400px;
}

.box-shadow {
    padding: 0.1rem;
    box-shadow: 1px 1px 5px 5px #cdcccc;
}

.des-box {
    height: 100%;
}

.mid {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #0c7ecf;
}

.link:visited {
    text-decoration: none;
    color: #00205b;
}

.link:hover {
    text-decoration: underline;
    color: #00205b;
}

.link:focus {
    text-decoration: underline;
    color: #00205b;
}

.link:active {
    text-decoration: underline;
    color: #00205b;
}

.text-dark-blue {
    color: #00205b;
}